{% extends 'base.html' %}

{% block 'titulo' %}Administrador de Finanças{% endblock %}

{% block 'conteudo' %}
<div class="wrapper">
    <div class="formulario">
        <h2>Atualizar uma conta:</h2>
        <form action="{% url 'contas:atualizar' conta.id %}" method="post">
            {% csrf_token %}
            {{form}}
            <button type="submit">Atualizar conta</button>
        </form>
    </div>
</div>
<script>
    /* Máscara para os campos definidos pelo id */
    $('#id_saldo').mask('#.00', {reverse: true});
</script>
{% endblock %}