{% extends 'base.html' %}

{% block 'titulo' %}Administrador de Finanças{% endblock %}

{% block 'conteudo' %}
<div class="wrapper">
    <h1>{{conta.tipo_conta_descricao}}</h1>
    <div class="grid_detalhe_conta">
        {% if receitas %}
        <a href="{% url 'receitas:cadastrar' conta.id %}">Cadastre uma receita clicando aqui</a>
            <table class="receitas_despesas_conta">
                <tr>
                    <th>Tipo de Receita</th>
                    <th>Descrição</th>
                    <th>Data Recebimento</th>
                    <th>Data Recebimento Esperado</th>
                    <th>Valor</th>
                </tr>
                {% for receita in receitas %}
                    <tr>
                        <td><a href="#">{{receita.get_tipoReceita_display}}</a></td>
                        <td><a href="#">{{receita.descricao_snippet}}</a></td>
                        <td><a href="#">{{receita.dataRecebimento}}</a></td>
                        <td><a href="#">{{receita.dataRecebimentoEsperado}}</a></td>
                        <td><a href="#">{{receita.valor|floatformat:2}}</a></td>
                    </tr>
                {% endfor %}
            </table>

        {% else %}
            <h2>Nenhuma receita por enquanto</h2>
            <a href="{% url 'receitas:cadastrar' conta.id %}">Cadastre uma receita clicando aqui</a>
        {% endif %}

        {% if despesas %}
            <a href="{% url 'receitas:cadastrar' conta.id %}">Cadastre uma receita clicando aqui</a>
            <table class="receitas_despesas_conta">
                <tr>
                    <th>Tipo de Despesa</th>
                    <th>Data Recebimento</th>
                    <th>Data Recebimento Esperado</th>
                    <th>Valor</th>
                </tr>
                {% for despesa in despesas %}
                    <tr>
                        <td><a href="#">{{despesa.get_tipoDespesa_display}}</a></td>
                        <td><a href="#">{{despesa.dataRecebimento}}</a></td>
                        <td><a href="#">{{despesa.dataRecebimentoEsperado}}</a></td>
                        <td><a href="#">{{despesa.valor|floatformat:2}}</a></td>
                    </tr>
                {% endfor %}
            </table>
        {% else %}
            <h2>Nenhuma despesa por enquanto</h2>
            <a href="#">Cadastre uma despesa clicando aqui</a>
        {% endif %}
    </div>
</div>
{% endblock %}