{% extends 'base.html' %}

{% block 'titulo' %}Administrador de Finanças{% endblock %}

{% block 'conteudo' %}
    <div class="detalhes_despesa_receita">
        <h1>Receita</h1>
        <h2>Tipo: {{receita.get_tipoReceita_display}}</h2>
        <p>Valor: R$ {{receita.valor|floatformat:2}}</p>
        {% if receita.descricao %}
            <p>Descrição: {{receita.descricao}}</p>
        {% endif %}
        <p>Recebido em: {{receita.dataRecebimento}}</p>
        {% if receita.dataRecebimentoEsperado %}
            <p>Esperado o recebimento em: {{receita.dataRecebimentoEsperado}}</p>
        {% endif %}
        <div class="atualizar_excluir">
            <button><a href="{% url 'receitas:atualizar' receita.id %}">Atualizar</a></button>
            <button><a href="{% url 'receitas:deletar' receita.id %}">Excluir</a></button>
        </div>
    </div>
{% endblock %}