{% extends 'base.html' %}

{% block 'titulo' %}Administrador de Finanças{% endblock %}

{% block 'conteudo' %}
    <div class="despesa">
        <h1>Despesa</h1>
        <h2>Tipo: {{despesa.get_tipoDespesa_display}}</h2>
        <p>Valor: R$ {{despesa.valor|floatformat:2}}</p>
        <p>Pago em: {{despesa.dataPagamento}}</p>
        {% if despesa.dataPagamentoEsperado %}
            <p>Esperado o pagamento em: {{despesa.dataPagamentoEsperado}}</p>
        {% endif %}
        <div class="atualizar_excluir">
            <button><a href="href="{% url 'despesas:atualizar' despesa.id %}"">Atualizar</a></button>
            <button><a href="{% url 'despesas:deletar' despesa.id %}">Excluir</a></button>
        </div>
    </div>
{% endblock %}