{% extends 'base.html' %}

{% block 'titulo' %}Administrador de Finanças{% endblock %}

{% block 'conteudo' %}
<div class="wrapper">
    <div class="formulario">
        <h1>Filtrar despesas</h1>
        <form action="{% url 'despesas:filtrar' %}" method="post">
            {% csrf_token %}
            {% if form.errors %}
                <ul class="errors">
                    {% for error in form.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            {% endif %}

            {% csrf_token %}
            {% for field in form %}
                {% if field.name != "valor_min" and field.name != "valor_max" %}
                    <label>{{ field.label }}</label>
                    {{ field }}
                {% endif %}
            {% endfor %}
            <div class="saldo_field">
                <p>Valor</p>
                <p>{{ form.valor_min }} {{ form.valor_max }}</p>
            </div>
            <button type="submit">Pesquisar</button>
        </form>
    </div>
</div>
<script>
    $('#id_valor_min').mask('###.00', {reverse: true});
    $('#id_valor_max').mask('###.00', {reverse: true});
    $('#id_data_pagamento_inicial').mask('00/00/0000');
    $('#id_data_pagamento_final').mask('00/00/0000');
    $('#id_data_esperado_inicial').mask('00/00/0000');
    $('#id_data_esperado_final').mask('00/00/0000');
</script>
{% endblock %}