{% extends 'base.html' %}

{% block 'titulo' %}Administrador de Finanças{% endblock %}

{% block 'conteudo' %}
<div class="wrapper">
    <div class="formulario">
        <h1>Filtrar despesas</h1>
        <form action="{% url 'despesas:filtrar' %}" method="post">
            {% csrf_token %}
            {% for field in form %}
                {% if field.name != "valor_min" and field.name != "valor_max" %}
                    {% if form.errors %}
                        {% for error in field.errors %}
                            <strong class="errorList">{{ error|escape }}</strong>
                        {% endfor %}
                    {% endif %}
                    <label>{{ field.label }}</label>
                    {{ field }}
                {% endif %}
            {% endfor %}
            <div class="saldo_field">
                {% if form.errors %}
                    {% for error in field.errors %}
                        <strong class="errorList">{{ error|escape }}</strong>
                    {% endfor %}
                {% endif %}
                <p>Valor</p>
                <p>{{ form.valor_min }} {{ form.valor_max }}</p>
            </div>
            <button type="submit">Pesquisar</button>
        </form>
    </div>
</div>
<script>
    $('#id_valor_min').mask('###.00', {reverse: true});
    $('#id_valor_max').mask('###.00', {reverse: true});
    $('#id_data_recebimento_inicial').mask('00/00/0000');
    $('#id_data_recebimento_final').mask('00/00/0000');
    $('#id_data_esperado_inicial').mask('00/00/0000');
    $('#id_data_esperado_final').mask('00/00/0000');
</script>
{% endblock %}