{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <link rel="icon" href="https://freepngimg.com/thumb/money/64045-money-symbol-dollar-sign-green-transparent-icon.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://kit.fontawesome.com/676753a9fd.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.15/jquery.mask.min.js"></script>
    <title>{% block 'titulo' %}{% endblock %}</title>
</head>
<body>
    
    <header class="header">
        <div class="logo">
            <a href="{% url 'homepage' %}">Administrador de Finanças</a>
        </div>
        <nav class="links_nav">
            <ul>
                <li><a href="{% url 'contas:cadastrar' %}">Cadastrar nova conta</a></li>
                <li><a href="{% url 'contas:transferencia' %}">Transferência entre contas</a></li>
                <li class="dropbtn" onclick="myFunction()">Filtrar
                    <i class="fa fa-caret-down"></i>
                </li>
                <div class="dropdown-content" id="dropdown_list">
                    <li><a href="{% url 'contas:filtrar' %}">Contas</a></li>
                    <li><a href="{% url 'receitas:filtrar' %}">Receitas</a></li>
                    <li><a href="#">Despesas</a></li>
                </div>
            </ul>
        </nav>
    </header>

    <main class="wrapper_main">
        {% block 'conteudo' %}
        {% endblock %}
    </main>

    <footer>
        <div class="footer">
            Feito por: Victor William Hostert
        </div>
    </footer>

    <!-- Elementos para animação do background -->
    <div class="area" >
        <ul class="circles">
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
        </ul>
    </div >
    
<script>
    /* When the user clicks on the button, 
toggle between hiding and showing the dropdown content */
function myFunction() {
  document.getElementById("dropdown_list").classList.toggle("show");
}

// Close the dropdown if the user clicks outside of it
window.onclick = function(e) {
  if (!e.target.matches('.dropbtn')) {
  var myDropdown = document.getElementById("myDropdown");
    if (myDropdown.classList.contains('show')) {
      myDropdown.classList.remove('show');
    }
  }
}
</script>
</body>
</html>