{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <link rel="icon" href="https://freepngimg.com/thumb/money/64045-money-symbol-dollar-sign-green-transparent-icon.png">
    <title>{% block 'titulo' %}{% endblock %}</title>
</head>
<body>
    
    <header class="header">
        <div class="logo">
            <a href="{% url 'homepage' %}">Administrador de Finanças</a>
        </div>
        <nav class="links_nav">
            <ul>
                <li><a href="{% url 'contas:cadastrar' %}">Cadastrar nova conta</a></li>
                <li><a href="{% url 'contas:transferencia' %}">Transferência entre contas</a></li>
                <li><a href="#">Receitas</a></li>
                <li><a href="#">Despesas</a></li>
            </ul>
        </nav>
    </header>

    <main class="wrapper_main">
        {% block 'conteudo' %}
        {% endblock %}
    </main>

    <footer>
        <div class="footer">
            Feito por: Victor William Hostert
        </div>
    </footer>

    <!-- Elementos para animação do background -->
    <div class="area" >
        <ul class="circles">
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
        </ul>
    </div >
</body>
</html>