{% extends 'base.html' %}

{% block 'titulo' %}Administrador de Finanças{% endblock %}

{% block 'conteudo' %}
{% if contas %}
    <div class="wrapper_menor">
        <h1>Escolha uma conta:</h1>
        <div class="contas_grid">
            {% for conta in contas %}
                <div class="conta_grid">
                    <a href="{% url 'contas:detalhes' conta.id %}">
                        <p>{{conta.get_tipoConta_display}}</p>
                        <p>Instituição: {{conta.instituicaoFinanceira}}</p>
                        <p>Saldo: {{conta.saldo}}</p>
                        <hr>
                        <div class="update_delete_conta">
                            <a href="{% url 'contas:atualizar' conta.id %}">Atualizar esta conta</a>
                            <a href="{% url 'contas:deletar' conta.id %}">Deletar esta conta</a>
                        </div>
                    </a>
                </div>                
            {% endfor %}
        </div>
        <div class="saldo_total">
            <p>Saldo total: {{saldo_total}}</p>
        </div>
    </div>
{% else %}
    <div class="wrapper_menor">
        <h2>Cadastre uma conta para iniciar</h2>
        <a href="{% url 'contas:cadastrar' %}">Cadastrar uma conta</a>
    </div>
{% endif %}
{% endblock %}