{% extends 'base.html' %}

{% block 'titulo' %}Administrador de Finanças{% endblock %}

{% block 'conteudo' %}
{% if contas %}
    <div class="wrapper_menor">
        <h1>Escolha uma conta:</h1>
        <div class="contas_grid">
            {% for conta in contas %}
                <div class="conta_grid">
                    <p>Conta {{conta.tipoConta}}</p>
                    <p>Instituição: {{conta.instituicaoFinanceira}}</p>
                </div>                
            {% endfor %}
        </div>
    </div>
{% else %}
    <div class="wrapper_menor">
        <h2>Cadastre uma conta para iniciar</h2>
        <a href="{% url 'contas:cadastrar' %}">Cadastrar uma conta</a>
    </div>
{% endif %}
{% endblock %}